*
{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}
body{
    background: url('images/img1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:250px;
}
.container
{
    height:400px;
    width:400px;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.988);
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    margin: auto;
}
h1 
{
   text-align: center;
   margin-top: 5%;
    color: black;
}
.container input 
{
    height:40px;
    width:50%;
    border-radius: 10px;
    border: none;
    font-size: medium;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}
#btn 
{
    margin-left:20%;
    margin-bottom:300px;
}